
<div class="block_admin">
    <div calss="users">
        <h2>ユーザー数</h2>
        <a href="/admin/usersall">{{num}}人</a>
    </div>
    <div class="block_requests">
        <h2>資料請求数</h2>
        <div class="requestall">
            <a href="/admin/requestall">{{num}}件</a>
    </div>
</div>
