
{% include 'inc/header.twig' %}
<div class="contents">
    <div class="block_img">
     {#   <img src="/assets/img/subpage5.jpg">#}
        <h1>プライバシーポリシー</h1>
    </div>
    <div class="block_privacypolicy">
        <p>株式会社Blanc Pur（以下当ウェブサイト）をご利用の際にご提供いただくお客様の個人情報を「個人情報の保護の原則」に則り慎重に取り扱い、プライバシーの保護に努めております。</p>
        <h4>1. 個人情報の収集</h4>
        <p>当ウェブサイトでは、下記の場合にお客様の個人情報の入力、送信をお願いしております。</p>
        <ul>
            <li>宿泊予約に関すること</li>
            <li>各種資料請求に関すること</li>
            <li>ウェディング・各種サービスの申し込みや予約に関すること</li>
        </ul>
        <h4>2. 個人情報の利用目的</h4>
        <p>お客様から提供していただいた個人情報は、当ウェブサイトにおいて、下記の場合、および1項（個人情報の収集）の目的以外に利用することはございません。</p>
        <ul>
            <li>当社が何らかの理由でお客様に連絡を取る必要が生じた場合</li>
            <li>当社が当社ウェブサイトおよび当社のサービス・商品の提供・改良のために統計的な分析をする場合</li>
            <li>お客様の同意があった場合</li>
            <li>お客様に有益と思われる商品・サービスに関連した情報をお届けする場合</li>
        </ul>
        <h4>3. 個人情報の提供・開示</h4>
        <p>お客様から提供していただいた個人情報は、慎重に取り扱い、下記の場合を除き、第三者に提供または開示することはございません。</p>
        <ul>
            <li>お客様の同意があった場合</li>
            <li>法令に基づき開示しなければならない場合</li>
        </ul>
        <h4>4. 安全対策</h4>
        <p>当社では、管理する全てのウェブサイトで、お客様の個人情報の紛失、誤用と改変を防ぐためのセキュリティ対策を実施しております。また、ウェブサーバからお客様のパソコンに送られるデータで快適にウェブサービスをご利用いただくために、当サイトの一部ページでは「Cookie」を使用しております。</p>
        <h4>5. リンク先における個人情報</h4>
        <p>当ウェブサイトでは、お客様に対して有益な情報・サービスを提供するために、他の会社・団体のウェブサイト（ホームページ）へのリンク先を掲載しております。リンク先のウェブサイト（ホームページ）にて行われる個人情報の収集、取り扱いに関しましては、当社は一切の責任を負うことをいたしません。お客様ご自身の判断によってご利用くださいますようお願いいたします。</p>
        <h4>6. 登録情報の変更・訂正・削除</h4>
        <p>お客様のご登録情報に変更などがございましたら、速やかにご連絡くださいますようお願いいたします。お申し出により変更・訂正・削除を行います。</p>
        <h4>7. プライバシーポリシーの内容変更</h4>
        <p>本ページ内記載の内容に変更があった場合は、当ウェブサイト内にその旨を告知いたします。</p>
        <h4>8. お問い合わせ先</h4>
        <p>当ウェブサイトにおける個人情報の取り扱いに関するお問い合わせ先は以下の通りです。</p>
        <p>株式会社Blanc Pur<br>
            〒103-0025 東京都渋谷区桜丘町9-8KN渋谷3ビル<br>
            TEL :03-5784-8064</p>
    </div>
</div>
