
{% include 'inc/header.twig' %}
<div class="contents">
    <div class="block_img">
        <h1>サイトマップ</h1>
    </div>
    <div class="block_sitemap">
    <ul>
        <li>
        <a href="/">TOP画面</a>
        </li>
        <li>    
        <a href="/privacypolicy">プライバシーポリシー</a>
        </li>
        <li>
        <a href="/inquiry">問い合わせ</a>
        </li>
        <li>
        <a href="/request">資料請求</a>
        </li>
        <li>
        <a href="/mypage">マイページ</a>
        </li>
    </ul>
    </div>
  
</div>