
<header class="block_headter">
    <div class="block_title"> 
        <a href="/"><img src="/assets/img/logo.png" alt="logo"></a>
    </div>
</header>
<div class="contents">
    <div class="block_img">
        <h1>資料請求フォーム</h1>
    </div>
完了しました。
</div>
